/* Styles for the lobby component */
body
{
  font-family: 'Montserrat', sans-serif;
}


.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .lobby h1 {
    font-size: 48px;
    margin-bottom: 40px;
  }
  
  .lobby form {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .lobby form input {
    margin-bottom: 20px;
  }
  
  /* Styles for the chat component */
  .chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
  }
  
  .chat .messages {
    flex-grow: 1;
    overflow-y: scroll;
  }
  
  .chat .message {
    border-bottom: .5px solid rgb(206, 206, 206);
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
  }

  .chat .user {
    background-color: white;
  }

  .chat .robot {
    background-color: #f2f2f2;
  }

  .chat .message .icon {
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    background-color: purple;
  }
  
  .chat .message .content {
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 1.6;
    width: 40vw;
  }
  
  .chat .message .timestamp {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
  }
  
  .chat .message .username {
    font-weight: bold;
  }
  
  .chat .message .content img {
    max-width: 100%;
    max-height: 400px;
  }
  
  .chat .message .content a {
    color: #3a3a3a;
    text-decoration: underline;
  }
  
  .chat .message .content a:hover {
    color: #000;
  }
  
 .chat .message-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: transparent;
}

.chat .message-form .input{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #C7C7CC;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2 px 5px 0px rgba(0, 0, 0, 0.5); 
}


.chat .message-form input {
    font-size: 14px;
    width: 40vw;
    height: 40px;
    border: none;
}

.chat .message-form .input-group .btn {
    padding: 10px 20px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.chat .message-form .input-group button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: gray;
}

.chat .message-form .input-group .btn:disabled {
    cursor: not-allowed;
}

*:focus {
    outline: none;
}