@using NodeReact.AspNetCore
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="@Url.Content("~/dist/client.js")" asp-append-version="true" ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <title>SignalR Demo</title>
</head>
<body>
<main>
    @RenderBody()
</main>

@Html.ReactInitJavaScript()
<!-- @await RenderSectionAsync("Scripts", required: false) -->
</body>
</html>